@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.pc .pct{
    text-align: center;
    color: #fcfcfcf4;
    font-family: 'Poppins', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}

.dimg .img{
    margin-bottom: 2rem;
    margin-top: 1rem;
    max-width: 50%;
    border-radius: 3rem;
    filter: drop-shadow(0px 0px 10px rgb(255, 172, 6));
}


.pc .pctx1{
    padding-top: 40px;
    color: #fcfcfcf4;
    font-family: 'Poppins', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.containerc{
    display: flex;
    align-items: center;
    justify-content: center;
}

.containerc .btn{
    margin-left: 20px;
}

.resta{
    cursor: pointer;
    font-size: 2rem;
}

.resta:hover{
    scale: 1.2;
}

.suma{
    cursor: pointer;
    font-size: 2rem;
}

.suma:hover{
    scale: 1.2;
}

.input-no-spinner{
    font-size: 1.1rem;
    text-align: center;
}

.input-no-spinner::-webkit-inner-spin-button,
.input-no-spinner::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; /* Asegúrate de que no haya margen residual */
}

/* Oculta los botones de incremento/decremento en Firefox */
.input-no-spinner {
  -moz-appearance: textfield;
  appearance: textfield; /* Propiedad estándar para otros navegadores */
}

@media (max-width: 600px) {

    .pc .pct{
        text-align: center;
        color: #fcfcfcf4;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .pc .pctx1{
        padding-top: 40px;
        color: #fcfcfcf4;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .suma{
        font-size: 1.3rem;
    }

    .resta{
        font-size: 1.3rem;
    }

    .input-no-spinner{
        font-size: 1rem;
    }

}

@media (max-width: 400px) {
    .pc .pct{
        text-align: center;
        color: #fcfcfcf4;
        font-family: 'Poppins', sans-serif;
        font-family: 'Poppins', sans-serif;
        font-size: 1.6rem;
        font-weight: bold;
    }

    .pc .pctx1{
        padding-top: 40px;
        color: #fcfcfcf4;
        font-family: 'Poppins', sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        text-align: center;
    }

    .suma{
        font-size: 1.3rem;
    }

    .resta{
        font-size: 1.3rem;
    }

    .input-no-spinner{
        font-size: 1rem;
    }
}